* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  background: linear-gradient(to right, #fff 730px, #FAFAFA 430px);
}
.container{
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
